<html>
    <head>
            <META http-equiv=Content-Type content="text/html; charset=iso-8859-2">
            <link href="https://fonts.googleapis.com/css?family=Lobster|Margarine" rel="stylesheet">
            <link href="css/fontello.css" type="text/css">
    </head> 
    <body>
<div class="tlo">
    <h3>Kilka słów o mnie</h3>
    <div class="text">
        Cześć, Mam na imię Michał i mam 23 lata. Uczęszczam na Politechnikę Częstochowską, gdzie odbywam obecnie naukę na trzecim roku 
        studiów, na kierunku informatycznym.<br>
        Jeśli chciałbyś/chciałabyś się ze mną skontaktować, możesz znaleźć mnie na facebook'u lub napisać do mnie maila.
    </div>
    <div class="fb">
            <a href="https://www.facebook.com/Michauke1"><img src="assets/img/fb.png"></a>
    </div>
</div>



<button class="btn btn-success" (click)="moveToMainPage()">To Main Page</button>
<button class="btn btn-success" (click)="moveToNewRecipe()">New Recipe</button>
</body>
</html>