h3
{
    font-family: 'Margarine', cursive;
}
.tlo
{
    background-color: rgb(29, 104, 170);
    padding-top: 30px;
    padding-bottom: 30px;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 50px;
    background-position: center;
    text-align: center;
}

.text
{
    font-family: 'Margarine', cursive;
    font-size: 26px;
    width: 40%;
    padding-top: 10px;
    margin-top: 10px;
    margin-left: 30%;
    padding-bottom: 30px;
    background-color: rgb(143, 85, 190);
    text-align: center;
    overflow: auto;
}

.fb
{
    margin-top: 20px;
}