<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <div class="container">
    <div class="ramkaZiola">
      <h1>Herbs</h1>
      <div class="row">
        <div class="col-md-3">
          <img src="assets/img/bazylia.jpg">
        </div>

        <div class="col-md-8 offset-md-1">
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 

        </div>
      </div>

      <div class="row">

        <div class="col-md-3">
          <img src="assets/img/tymianek.jpg">
        </div>

        <div class="col-md-8 offset-md-1">
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs
        </div>


      </div>

      <div class="row">

        <div class="col-md-3">
          <img src="assets/img/koperek.jpg">
        </div>

        <div class="col-md-8 offset-md-1">
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs
        </div>


      </div>

      <div class="row">

        <div class="col-md-3">
          <img src="assets/img/pietruszka.jpg">
        </div>

        <div class="col-md-8 offset-md-1">
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs 
          herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs herbs
        </div>
      </div>

    </div>

    <div class="underline">

    </div>

    <div class="ramkaWarzywa">
    <h1>Vegetables</h1>

    <div class="row">
        <div class="col-md-3">
          <img src="assets/img/cebula.jpg">
        </div>

        <div class="col-md-8 offset-md-1">
          vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
          vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
          vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
          vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
          vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
          vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
          vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables 
          

        </div>
      </div>

      <div class="row">
          <div class="col-md-3">
            <img src="assets/img/papryka.jpg">
          </div>
  
          <div class="col-md-8 offset-md-1">
            vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
            vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
            vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
            vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
            vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
            vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
            vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables 
              
  
          </div>
        </div>

        <div class="row">
            <div class="col-md-3">
              <img src="assets/img/pomidor.jpg">
            </div>
    
            <div class="col-md-8 offset-md-1">
              vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
              vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
              vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
              vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
              vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
              vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables
              vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables vegetables  
               
    
            </div>
          </div>

        </div>

    <button class="btn btn-success" (click)="moveToMainPage()">To Main Page</button>
  </div>
</body>

</html>